<h1>About Me</h1>

<h2>Hey! I'm Geraldine.</h2>

<legend></legend>
  	
  	<div class="container">
  		<div class="row">
  			<div class="col-md-9">
  				<p>My name is Geraldine Galue (pronounced 'Ga-loo-eh') and I was born and raised in Venezuela. I moved to Georgia in 2008 to attend Kennesaw State University. Although I majored in International Business and took courses in Industrial Engineering, I have always been very passionate about international affairs and Model United Nations, which is why I am part of the executive staff of one of the largest collegiate Model UN conferences in the Southeast called SRMUN.</p>
  				<p>The developing tech start-up scene in Atlanta has always intrigued me, which is why I am excited to be part of Tech Talent South's Fall-Winter 2015 Cohort. I come from a Marketing/Operations background, so I am excited to add 'coding' to my existing skill set.</p>
  				<p>In my free time I enjoy doing many activities and spending time with my friends and family. I have a two year old pit bull mix called Zeus who I love. My hobbies include: traveling, cooking, reading, and health and fitness.
  				</div>
